<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.hoteldog.hotel.HotelMapper">
    <select id="selHotelList">

    </select>

    <!--이름-->

    <select id="getHotelFilterRoomResInfo">
        SELECT A.hotel_room_nm AS hotelRoomNm
        ,	B.hotel_left_ea AS roomLeftEa,B.room_date AS roomDate
        FROM t_hotel_room_info A
        JOIN t_hotel_res_room B
        ON A.hotel_room_pk=B.hotel_room_pk
        WHERE A.hotel_pk=#{hotelPk} AND A.book_able=1
        AND (B.room_date >= #{startDate} AND B.room_date &lt;= #{endDate})
        AND (A.size_pk >=#{howMany}) AND (A.maximum >=large)
    </select>
    <select id="getHotelRoomResInfo">
        SELECT A.hotel_room_nm AS hotelRoomNm
        ,	B.hotel_left_ea AS roomLeftEa,B.room_date AS roomDate
        FROM t_hotel_room_info A
        LEFT JOIN t_hotel_res_room B
        ON A.hotel_room_pk=B.hotel_room_pk
        WHERE A.hotel_pk=#{hotelPk} AND A.book_able=1
        AND B.room_date >= #{startDate} AND B.room_date &lt;= #{endDate}
    </select>
    <select id="getHotelReviewThree">
        SELECT B.hotel_pk AS hotelPk,C.user_pk AS userPk,C.nickname AS nickName
        , A.comment,A.score,A.created_at AS createdAt,COUNT(D.review_pk) AS reviewFav
        FROM t_review A
        JOIN t_reservation B
        ON A.res_pk=B.res_pk
        JOIN t_user C
        ON C.user_pk=B.user_pk
        RIGHT JOIN t_review_fav D
        ON A.review_pk=D.review_pk
        WHERE B.hotel_pk=#{hotelPk}
        GROUP BY D.review_pk
        ORDER BY COUNT(D.review_pk) DESC
        LIMIT 3
    </select>
    <select id="getHotelDetail">
        SELECT A.hotel_nm AS hotelNm, A.hotel_detail_info AS hotelDetailInfo ,A.maximum
        ,	A.buisiness_num AS buisinessNum, A.hotel_call AS hotelCall
        ,  C.address_name AS roadAddress,C.detail_address AS addressDetail
        FROM t_hotel A
        LEFT JOIN t_hotel_where C
        ON A.hotel_pk=C.hotel_pk
        WHERE A.hotel_pk=#{hotelPk}
    </select>
    <select id="getHotelPics">
        SELECT pic AS pics
        FROM t_hotel_pic
        WHERE hotel_pk=#{hotelPk}
    </select>
    <select id="hotelOptionInfo">
        SELECT A.option_nm AS optionNm
        FROM t_option A
        JOIN t_hotel_option B
        ON A.option_pk=B.option_pk
        WHERE hotel_pk=#{hotelPk}
    </select>
    <select id="getMyDogs">
        SELECT
        대충 조건절.
    </select>
    <select id="isMoreHotelReview">
        SELECT COUNT(A.review_pk) AS countReview
        FROM t_review A
        JOIN t_reservation B
        ON A.res_pk=B.res_pk
        WHERE B.hotel_pk=#{hotelPk}
    </select>
    <select id="getReviewPics">
        SELECT A.pics
        FROM t_review_pic A
        JOIN t_review B
        ON A.review_pk=B.review_pk
        JOIN t_reservation C
        ON C.res_pk=B.res_pk
        WHERE C.hotel_pk=#{hotelPk} AND C.user_pk=#{userPk}
    </select>
    <!--호텔 찜 삭제-->
    <delete id="delHotelBookMark">
        DELETE FROM t_hotel_favorites
        WHERE user_pk=#{userPk}
        AND hotel_pk=#{hotelPk}
    </delete>
    <!--호텔 찜 등록-->
    <insert id="insHotelBookMark">
        INSERT INTO t_hotel_favorites
        <set>
            user_pk=#{userPK}
            ,   hotel_pk=#{hotelPk}
        </set>
    </insert>
    <!--승준-->
</mapper>