<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.hoteldog.hotel.HotelMapper">
    <!--호텔 광고 리스트-->
    <select id="selHotelAdvertiseList">
        SELECT A.hotel_nm AS hotelNm, A.hotel_detail_info AS hotelDetailInfo, B.pic AS hotelPic
        , hotelRoomCost, avgStar, A.discount_per AS discountPer
        FROM t_hotel A
        LEFT JOIN t_hotel_pic B
        ON A.hotel_pk = B.hotel_pk
        LEFT JOIN t_reservation C
        ON A.hotel_pk = C.hotel_pk
        LEFT JOIN (
        SELECT A.res_pk, round(AVG(A.score),1) AS avgStar
        FROM t_review A
        JOIN t_reservation B
        ON A.res_pk = B.res_pk
        GROUP BY B.hotel_pk
        ) D
        ON C.res_pk = D.res_pk
        LEFT JOIN (
        SELECT A.hotel_pk, MIN(A.hotel_room_cost) AS hotelRoomCost
        FROM t_hotel_room_info A
        JOIN t_hotel B
        ON A.hotel_pk = B.hotel_pk
        WHERE A.hotel_room_cost
        GROUP BY A.hotel_pk
        ) E
        ON A.hotel_pk = E.hotel_pk
        WHERE A.advertise = 1
        GROUP BY A.hotel_pk
        ORDER BY RAND()
        LIMIT 3
    </select>

    <!--비회원 첫 화면 호텔 리스트-->
    <!--할인 정보 제외-->
    <select id="selHotelListToNonMember">
        SELECT A.hotel_nm AS hotelNm, A.hotel_detail_info AS hotelDetailInfo, B.pic AS hotelPic
        , hotelRoomCost, avgStar, A.discount_per AS discountPer
        FROM t_hotel A
        LEFT JOIN t_hotel_pic B
        ON A.hotel_pk = B.hotel_pk
        LEFT JOIN t_reservation C
        ON A.hotel_pk = C.hotel_pk
        LEFT JOIN (
        SELECT A.res_pk, round(AVG(A.score),1) AS avgStar
        FROM t_review A
        JOIN t_reservation B
        ON A.res_pk = B.res_pk
        GROUP BY B.hotel_pk
        ) D
        ON C.res_pk = D.res_pk
        LEFT JOIN (
        SELECT A.hotel_pk, MIN(A.hotel_room_cost) AS hotelRoomCost
        FROM t_hotel_room_info A
        JOIN t_hotel B
        ON A.hotel_pk = B.hotel_pk
        WHERE A.hotel_room_cost
        GROUP BY A.hotel_pk
        ) E
        ON A.hotel_pk = E.hotel_pk
        GROUP BY A.hotel_pk
        ORDER BY A.created_at DESC
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <!--회원 정보 셀렉트-->
    <select id="selUserInfoToUserPk">
        SELECT B.region_1depth_name AS region1depthName , C.size_pk AS sizePk
        FROM t_user A
        JOIN t_user_where B
        JOIN t_user_dog C
        ON A.user_pk = B.user_pk
        ON A.user_pk = C.user_pk
        WHERE A.user_pk = #{userPk}
        GROUP BY  C.size_pk
    </select>

    <!--회원 첫 화면 호텔 리스트 1-->
    <select id="selHotelListAsUserAddress">
        SELECT A.hotel_nm AS hotelNm, A.hotel_detail_info AS hotelDetailInfo, B.pic AS hotelPic
        , hotelRoomCost, avgStar, A.discount_per AS discountPer
        FROM t_hotel A
        LEFT JOIN t_hotel_pic B
        ON A.hotel_pk = B.hotel_pk
        LEFT JOIN t_reservation C
        ON A.hotel_pk = C.hotel_pk
        LEFT JOIN (
        SELECT A.res_pk, round(AVG(A.score),1) AS avgStar
        FROM t_review A
        join t_reservation B
        ON A.res_pk = B.res_pk
        GROUP BY B.hotel_pk
        ) D
        ON C.res_pk = D.res_pk
        LEFT JOIN (
        SELECT A.hotel_pk, MIN(A.hotel_room_cost) AS hotelRoomCost
        FROM t_hotel_room_info A
        JOIN t_hotel B
        ON A.hotel_pk = B.hotel_pk
        WHERE A.hotel_room_cost
        GROUP BY A.hotel_pk
        ) E
        ON A.hotel_pk = E.hotel_pk
        LEFT JOIN t_hotel_where G
        ON A.hotel_pk = G.hotel_pk
        WHERE G.region_1depth_name = '#{address}'
        GROUP BY A.hotel_pk
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <!--회원 첫 화면 호텔 리스트2-->
    <select id="selHotelListAsUserAddressAndDogInformation">
        SELECT A.hotel_nm AS hotelNm, A.hotel_detail_info AS hotelDetailInfo, B.pic AS hotelPic
        , hotelRoomCost, avgStar, A.discount_per AS discountPer
        FROM t_hotel A
        LEFT JOIN t_hotel_pic B
        ON A.hotel_pk = B.hotel_pk
        LEFT JOIN t_reservation C
        ON A.hotel_pk = C.hotel_pk
        LEFT JOIN (
        SELECT A.res_pk, round(AVG(A.score),1) AS avgStar
        FROM t_review A
        join t_reservation B
        ON A.res_pk = B.res_pk
        GROUP BY B.hotel_pk
        ) D
        ON C.res_pk = D.res_pk
        LEFT JOIN (
        SELECT A.hotel_pk, MIN(A.hotel_room_cost) AS hotelRoomCost
        FROM t_hotel_room_info A
        JOIN t_hotel B
        ON A.hotel_pk = B.hotel_pk
        WHERE A.hotel_room_cost
        GROUP BY A.hotel_pk
        ) E
        ON A.hotel_pk = E.hotel_pk
        JOIN(
        SELECT A.hotel_pk
        FROM t_hotel A
        JOIN t_hotel_room_info B
        ON A.hotel_pk = B.hotel_pk
        WHERE B.size_pk IN
        <foreach collection="list" item="dogSizePks" separator="," open="(" close=")">
            #{dogSizePks}
        </foreach>
        ) F
        ON A.hotel_pk = F.hotel_pk
        LEFT JOIN t_hotel_where G
        ON A.hotel_pk = G.hotel_pk
        WHERE G.region_1depth_name = '#{address}'
        GROUP BY A.hotel_pk
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <!--검색 시 호텔 리스트-->
    <select id="selHotelListToSearch">
        SELECT A.hotel_nm AS hotelNm, A.hotel_detail_info AS hotelDetailInfo, B.pic AS hotelPic
        , hotelRoomCost, avgStar, A.discount_per AS discountPer
        FROM t_hotel A
        LEFT JOIN t_hotel_pic B
        ON A.hotel_pk = B.hotel_pk
        LEFT JOIN t_reservation C
        ON A.hotel_pk = C.hotel_pk
        LEFT JOIN (
        SELECT A.res_pk, round(AVG(A.score),1) AS avgStar
        FROM t_review A
        join t_reservation B
        ON A.res_pk = B.res_pk
        GROUP BY B.hotel_pk
        ) D
        ON C.res_pk = D.res_pk
        LEFT JOIN (
        SELECT A.hotel_pk, MIN(A.hotel_room_cost) AS hotelRoomCost
        FROM t_hotel_room_info A
        JOIN t_hotel B
        ON A.hotel_pk = B.hotel_pk
        WHERE A.hotel_room_cost
        GROUP BY A.hotel_pk
        ) E
        ON A.hotel_pk = E.hotel_pk
        WHERE A.hotel_nm
        REGEXP
        <foreach collection="list" item="tokensToStrList" separator="|" open="'" close="'">
            #{tokensToStrList}
        </foreach>
        GROUP BY A.hotel_pk
        LIMIT #{startIdx}, #{rowCount}
    </select>

    <!--필터링 시 호텔 리스트-->
    <select id="selHotelListToFilter">
        <!--필터링 시 기준이 모호하여 정확한 데이터를 뿌릴 수 있도록 된다면 그 때 개발-->
        SELECT A.hotel_nm AS hotelNm, A.hotel_detail_info AS hotelDetailInfo, B.pic AS hotelPic, hotelRoomCost, avgStar, A.discount_per AS discountPer
        FROM t_hotel A
        LEFT JOIN t_hotel_pic B
        ON A.hotel_pk = B.hotel_pk
        LEFT JOIN t_reservation C
        ON A.hotel_pk = C.hotel_pk
        LEFT JOIN (
        SELECT A.res_pk, round(AVG(A.score),1) AS avgStar
        FROM t_review A
        join t_reservation B
        ON A.res_pk = B.res_pk
        GROUP BY B.hotel_pk
        ) D
        ON C.res_pk = D.res_pk
        LEFT JOIN (
        SELECT A.hotel_pk, MIN(A.hotel_room_cost) AS hotelRoomCost
        FROM t_hotel_room_info A
        JOIN t_hotel B
        ON A.hotel_pk = B.hotel_pk
        WHERE A.hotel_room_cost
        GROUP BY A.hotel_pk
        ) E
        ON A.hotel_pk = E.hotel_pk
        JOIN(
        SELECT A.hotel_pk
        FROM t_hotel A
        JOIN t_hotel_room_info B
        ON A.hotel_pk = B.hotel_pk
        WHERE B.size_pk IN
        <foreach collection="list" item="dogSizePks" separator="," open="(" close=")">
            #{dogSizePks}
        </foreach>
        ) F
        ON A.hotel_pk = F.hotel_pk
        LEFT JOIN t_hotel_where G
        ON A.hotel_pk = G.hotel_pk
        LEFT JOIN t_hotel_option H
        ON A.hotel_pk = H.hotel_pk
        WHERE
        <!--잘 안됨 이거 바로 수정 요망-->
        <foreach collection="list" item="hotelOptionPk" separator=" AND ">
            H.option_pk = #{hotelOptionPk}
        </foreach>
        AND G.region_1depth_name = '#{address}'
        GROUP BY A.hotel_pk
        LIMIT 0,12
    </select>

    <!--영웅-->

    <select id="getHotelFilterRoomResInfo">
        SELECT A.hotel_room_nm AS hotelRoomNm
        ,	B.hotel_left_ea AS roomLeftEa,B.room_date AS roomDate
        FROM t_hotel_room_info A
        JOIN t_hotel_res_room B
        ON A.hotel_room_pk=B.hotel_room_pk
        WHERE A.hotel_pk=#{hotelPk} AND A.book_able=1
        AND (B.room_date >= #{startDate} AND B.room_date &lt;= #{endDate})
        AND (A.size_pk >=#{howMany}) AND (A.maximum >=large)
    </select>
    <select id="getHotelRoomResInfo">
        SELECT A.hotel_room_nm AS hotelRoomNm
        ,	B.hotel_left_ea AS roomLeftEa,B.room_date AS roomDate
        FROM t_hotel_room_info A
        LEFT JOIN t_hotel_res_room B
        ON A.hotel_room_pk=B.hotel_room_pk
        WHERE A.hotel_pk=#{hotelPk} AND A.book_able=1
        AND B.room_date >= #{startDate} AND B.room_date &lt;= #{endDate}
    </select>
    <select id="getHotelReviewThree">
        SELECT B.hotel_pk AS hotelPk,C.user_pk AS userPk,C.nickname AS nickName
        , A.comment,A.score,A.created_at AS createdAt,COUNT(D.review_pk) AS reviewFav
        FROM t_review A
        JOIN t_reservation B
        ON A.res_pk=B.res_pk
        JOIN t_user C
        ON C.user_pk=B.user_pk
        RIGHT JOIN t_review_fav D
        ON A.review_pk=D.review_pk
        WHERE B.hotel_pk=#{hotelPk}
        GROUP BY D.review_pk
        ORDER BY COUNT(D.review_pk) DESC
        LIMIT 3
    </select>
    <select id="getHotelDetail">
        SELECT A.hotel_nm AS hotelNm, A.hotel_detail_info AS hotelDetailInfo ,A.maximum
        ,	A.buisiness_num AS buisinessNum, A.hotel_call AS hotelCall
        ,  C.address_name AS roadAddress,C.detail_address AS addressDetail
        FROM t_hotel A
        LEFT JOIN t_hotel_where C
        ON A.hotel_pk=C.hotel_pk
        WHERE A.hotel_pk=#{hotelPk}
    </select>
    <select id="getHotelPics">
        SELECT pic AS pics
        FROM t_hotel_pic
        WHERE hotel_pk=#{hotelPk}
    </select>
    <select id="hotelOptionInfo">
        SELECT A.option_nm AS optionNm
        FROM t_option A
        JOIN t_hotel_option B
        ON A.option_pk=B.option_pk
        WHERE hotel_pk=#{hotelPk}
    </select>
    <select id="getMyDogs">
        SELECT
        대충 조건절.
    </select>
    <select id="isMoreHotelReview">
        SELECT COUNT(A.review_pk) AS countReview
        FROM t_review A
        JOIN t_reservation B
        ON A.res_pk=B.res_pk
        WHERE B.hotel_pk=#{hotelPk}
    </select>
    <select id="getReviewPics">
        SELECT A.pics
        FROM t_review_pic A
        JOIN t_review B
        ON A.review_pk=B.review_pk
        JOIN t_reservation C
        ON C.res_pk=B.res_pk
        WHERE C.hotel_pk=#{hotelPk} AND C.user_pk=#{userPk}
    </select>
    <!--호텔 찜 삭제-->
    <delete id="delHotelBookMark">
        DELETE FROM t_hotel_favorites
        WHERE user_pk=#{userPk}
        AND hotel_pk=#{hotelPk}
    </delete>
    <!--호텔 찜 등록-->
    <insert id="insHotelBookMark">
        INSERT INTO t_hotel_favorites
        <set>
            user_pk=#{userPK}
            ,   hotel_pk=#{hotelPk}
        </set>
    </insert>
    <!--승준-->
</mapper>